{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/_alert_messages.html" as macros %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
{% endblock%}

{%block page_content %}
<div class="panel panel-primary inventories-panel">
    <div class="panel-heading text-center">
            {% if current_user.is_admin %}
            <h3>All Filed Assets Requests.</h3>
            {% else %}
            <h3>Assets assigned to you.</h3>

        {% endif %}
     </div>
     <div class="panel-body">
     
     </div>
     <div class="row">
    <div class="col-md-6 col-md-offset-1 ">
        <table class="table table-striped table-bordered">
                <thead>
                    <th>
                       Serial_code 
                    </th>
                    <th>
                        Serial_no
                    </th>
                    <th>
                        Asset Name
                    </th>
                    <th>
                        Asset desription
                    </th>
                    <th>
                        Date bought
                    </th>
                     <th>
                        Confirmed
                    </th>
                    <th>
                       Assigned to 
                    </th>
                    <th>
                       Assign date 
                    </th>
                    <th>
                      Return date  
                    </th>
                </thead>
                <tbody>
                    {% for inventory in inventories %}
                    <tr>
                        <td>
                            <a href="{{ url_for('main.update_inventory', inventory_id=inventory.id) }}">
                                {{ inventory.serial_code  | truncate(30, True) }}
                            </a>
                        </td>
                        <td>
                            {{ inventory.serial_no }}
                        </td>
                        <td>
                            {{ inventory.asset_name }}
                        </td>
                        <td>
                            {{ inventory.description }}
                        </td>
                        <td>
                            {{ inventory.date_bought }}
                        </td>
                        <td>
                            {{ inventory.confirmed }}
                        </td>
                        <td>
                            {{ inventory.assigned_to.name }}
                        </td>
                        <td>
                            {{ inventory.date_assigned }}
                        </td>
                        <td>
                            {{ inventory.date_returned }}
                        </td>
                    </tr>
                </tbody>    

                {% endfor %}
        </table>       

    </div>
</div>     
     
{% endblock %}


