{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/_alert_messages.html" as macros %}


{% block title %}List of assets assigned to users {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="page-header text-center">
                <h1>Staff List</h1>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-sm-offset-2 profile-form">
                    {{ macros.render_alert('alert-info') }}
                    <div class="list-group">
                        {% if inventory | length > 0 %}
                            {% for invent in inventory %}
                                <a href="{{ url_for('main.update_inventory',inventory_id=invent.id)}}" class="list-group-item"> {{ invent.asset_name }} </a>

                            {% endfor %}
                        {%else%}
                        <div class="well">
                            
                            <p> All Assets are currently Assigned</p>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}