{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/_alert_messages.html" as macros %}

{% block title %}
    Andela Update Inventory
{% endblock title %}    

{% block content %}

    <div class="col-md-4 col-sm-offset-2 ">
        <h2>Inventory Details</h2> <hr>
        {% include 'lost_asset.html' %}
    </div>
    <div class="col-md-4">
        <h2> Update Inventory</h2> <hr>
        {{ macros.render_alert('alert-danger') }}
        {{ wtf.quick_form(form) }}
        

    </div>
</div>
{% endblock  %}
